
  
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <!-- <div class="divider d-flex align-items-center my-4"> -->
            <h3>New Complaint</h3> 
          <!-- </div> -->
          <form> 
            <div class="row">
              <div class="col-6">
                <div data-mdb-input-init class="form-outline ">
                  <select name="parentdept" id="" [(ngModel)]="parentdeptId" class="form-select" (change)="getChildDept()">
                    <option value="0" selected>Select </option>
                    <option *ngFor="let parentdept of deptList" [value]="parentdept.departmentId">{{parentdept.departmentName}}</option>
                  </select>
                  <label class="form-label" for="form3Example3">Department</label>
                </div>
              </div>
              <div class="col-6">
                <div data-mdb-input-init class="form-outline ">
                  <select name="subdept" id="" [(ngModel)]="complaintobj.childDeptId" class="form-select">
                    <option value="0" selected>Select  </option>
                    <option *ngFor="let childdept of childdeptList" [value]="childdept.childDeptId">{{childdept.departmentName}}</option>
                  </select>
                  <label class="form-label" for="form3Example3">Sub Department</label>
                </div>
              </div>
            </div>
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline ">
              <input type="text" name="complaintTitle" [(ngModel)]="complaintobj.complaintTitle" class="form-control" />
              <label class="form-label" for="form3Example3">Complaint Title</label>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
                <textarea name="Details" placeholder="Enter Complaint Details" class="form-control" [(ngModel)]="complaintobj.complaintDetails"></textarea>
              <label class="form-label" for="form3Example4">Details</label>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="form-check mb-0">
                  <input class="form-check-input me-2" style="background-color: black;" type="checkbox" name="isAlreadyReportedThis" value="" [(ngModel)]="complaintobj.isAlreadyReportedThis" />
                  <label class="form-check-label" for="form2Example3">
                   Have you Already Raised Complaint For this
                  </label>
                </div>
              </div>
              <div class="col-4" *ngIf="complaintobj.isAlreadyReportedThis">
                <div data-mdb-input-init class="form-outline ">
                  <input type="text" name="" class="form-control" [(ngModel)]="complaintobj.oldComplaintNo"
                placeholder="" readonly />
                  <label class="form-label" for="form3Example3">Old Ticket No</label>
                </div>
              </div>
            </div> 
            <div class="text-center text-lg-start mt-1 pt-2">
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
             (click)="oncreate()"   style="padding-left: 2.5rem; padding-right: 2.5rem;">Create</button>
              
            </div>

          </form>
        </div>
      </div>
    </div>
   
  </section>
