<div class="container mt-3">
    <div class="row">
        <div class="main-div" [ngClass]="showsidediv?'col-8':'col-12'">
            <div class="card">
                <div class="card-heading" style="background-color: orange;">
                    <span class="heading" style="font-size: 40px;">Department Info</span>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#parentdeptform" (click)="Showsavebtn()" (click)="showsidediv=true" style="float: right;">Add Department</button>
                </div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>SrNo</th>
            <th>Department Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dept of parentdeptList;let sr=index">
          <td>{{sr+1}}</td>
          <td>{{dept.departmentName}}</td>
          <td>
            <i class="fa-solid fa-pen-to-square m-1 bg-info text-white p-2" (click)="showsidediv=true"  (click)="onEdit(dept)" (click)="showupdatebtn()"></i>
            <i class="fa-solid fa-trash bg-danger m-1 text-white p-2" (click)="onDelete(dept)"></i>
          </td>
        </tr>
    </tbody>

</table>
</div>
        </div>

        <div class="col-4" *ngIf="showsidediv==true">
            <div class="card">
                <div class="card-heading" style="background-color: orange;">

                    Add New Department
                   
                    <button class="btn closebtn btn-danger" (click)="showsidediv=false" style="float: right;"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="card-body">
            <form id="parentdeptform">
                <div class="row">
                    <div class="col-12">
                        <label>Department Name</label><br>
                        <input type="text" name="deptnm" #deptnm="ngModel" [(ngModel)]="parentdeptobj.departmentName">
                    </div>
                    <div class="col-12">
                        <label for="">Department Logo</label><br>
                        <input type="text" name="deptlogo" #deptlogo="ngModel" [(ngModel)]="parentdeptobj.departmentLogo">
                    </div>
                    <div class="col-12 m-1" style="background-color: lightcoral;">
                        <button class="btn btn-success m-1" *ngIf="savebtn" (click)="onSave()">Submit</button>
                        <button class="btn btn-info m-1" *ngIf="updatebtn" (click)="onUpdate()">Update</button>
                        <button class="btn btn-danger m-1" (click)="onReset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
</div>
