<nav class="navbar navbar-expand-lg navbar-default">
    <div>
      
      <ul class="nav navbar-nav">
        @for (  menu of filteredmenu; track $index) {
        <li class="nav-item active" >
            <a class="nav-link" style="color: white;font-size: 15px;" [routerLink]="menu.path">{{menu.text}}</a>
        </li>
      }
      <li class="nav-item">
        <a class="nav-link" style="color: white;margin-left: 1000px;"><i class="fa-solid fa-user"></i>{{logedUserData?.userName}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white;" (click)="logout()">Log-Out</a>
      </li>
      </ul>
    </div>
  </nav>
  
    <router-outlet></router-outlet>
  

